<launch>
    <!-- Defining arguments for the mur launch --> 
    <arg name="leader_pose_topic" default='/virtual_leader/leader_pose'/>
    <arg name="leader_velocity_topic" default='/virtual_leader/leader_vel'/>
    <arg name="actual_pose_topic" default='/mur620a/mir_pose_stamped_simple'/>
    <arg name="follower_cmd_vel_topic" default='/mur620a/cmd_vel'/>
    <arg name="relative_position" default="[0.0, 0.0, 0.0]"/>
    <arg name="tf_prefix" default="mur620a"/>
    <arg name="drive_backwards" default="false"/>
   
    
    <include file="$(find virtual_leader)/launch/virtual_leader.launch" />
    
    <group ns="mur620a">

        <include file="$(find virtual_leader)/launch/set_leader_pose.launch">
            <arg name="relative_pose" value="$(arg relative_position)"/>
            <arg name="robot_pose_topic" value="$(arg actual_pose_topic)"/>
        </include> 

        <include file="$(find formation_controller)/launch/decentralized_leader_follower_control.launch">
            <arg name="leader_pose_topic" value="$(arg leader_pose_topic)"/>
            <arg name="leader_velocity_topic" value="$(arg leader_velocity_topic)"/>
            <arg name="actual_pose_topic" value="$(arg actual_pose_topic)"/>
            <arg name="follower_cmd_vel_topic" value="$(arg follower_cmd_vel_topic)"/>
            <arg name="relative_position" value="$(arg relative_position)"/>
            <arg name="tf_prefix" value="$(arg tf_prefix)"/>
            <arg name="drive_backwards" value="$(arg drive_backwards)"/>
        </include> 

    </group>


</launch>